/* ELEMENTS */
body, html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #EDD6CC;
    position: relative;
    scroll-behavior: smooth;

    height: calc(100vh - 5%);
    width: 100%
}
body {
    text-align: center;
}
#contain{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#left{
    color: #0A4529;
    width: 54%;
    height: 100%;
    background-color: #EDD6CC;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-left: 5%;
}
#center{
    width: 5%;
    z-index: 2;
    background-color: #0A4529;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%,10% 90%);
}
#right{
    width: 41%;
    height: 100%;
    background-color: #0A4529;
    color: #EDD6CC;
}
h1{
    font-family: 'Paytone One', sans-serif;
    font-size: 100px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    line-height: 88px;
}
.name{
    margin: 10% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
p {
    font-family: 'Open Sans';
    font-size: 14px;
    padding-top: 3%;
    text-align: justify;
}
.linkContain{
    display: inline-flex;
    margin-top: 10%
}
img{
    height: 50px;
    width: 50px;
}
a{
    margin-right: 10%;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5%;
    width: 100%;
    background-color: #9CBCAC;
    color: #0A4529;
    align-items: center;
    justify-content: center;
}


p{
    
} 

.btn:hover{
    color: white;
}
.logo{
    max-height: .75em;
    margin-right: 4%;
}
.header{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.5em;
    background: black;
}
.fixed {
    display: flex;
    position: fixed;
    top: 0;
    width: 10%;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn{
    color: #D240B2;
    margin-bottom: 15%;
}
/* PAGES */
/* ABOUT */
#about{
    background-image: url('assets/nyc.jpg');
    margin: 13% auto;
}
#bio{
    display: block;
    background-color: black;
    width: 50%;
    margin: 3% auto;
    margin-top: 8%;
    border-left: 3px solid #215200;
    border-bottom: 1px solid #215200;
    padding: 2em;
    border-radius: 30% 0 34% 0;
}
#bio h1{
    text-align: center;
}
#bio h3{
    text-align: center;
}
/* PORTFOLIO */
#portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 15%;
}
#portfolio h1{
    margin-left: 2.5em;
    font-size: 3em;
    border-left: 2px solid #215200;
    border-top: 1px solid #215200;
    padding: 1em;
    border-radius: 0 15% 0 15%;
    margin-top: 0;
    margin-bottom: 0;
}
.portfolioContain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 7%;
    margin-top: 2%;
}
.project{
    width: 35%;
    margin: 5%;
    border-top: 3px solid white;
    border-right: 1px solid white;
    padding: 1em;
}
.project h2{
    font-size: 2em;
}
.projectGit{
    max-width: .5em;
}
.projectGit:hover{
    border: 2px solid #D240B2;
}
.projPic{
    width: 95%;
    border: 1px solid white;
    border-radius: 15px;
}
.projPic:hover{
    border: 2px solid #D240B2;
}
/* CONTACT */
#contact{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.5em;
    border: 3px solid white;
    padding: 1em;
    align-items: center;
}
#contact p{
    font-size: 2em;
    text-align: center;
    margin: 0;
    margin-top: 5%;
}
#contactForm{
    margin-left: 3em;
}
form{
    padding: 1em;
}
label{
    width: 35%;
    margin: 1em;
    margin-left: 0;
}
input, textarea{
    width: 75%;
    box-sizing: border-box;
    border: 1px solid #215200;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
input{
    height: 2em;
}
input:focus, textarea:focus{
    border: 3px solid #D240B2;
}
textarea{
    vertical-align: top;
    height: 5em;
}
.contactButton{
    width: 80%;
    border-left: 2px solid #215200;
    border-bottom: 1px solid #215200;
    height: 3em;
    padding-bottom: .5em;
    border-radius: 25% 0 34% 0;

}
button{
    margin-left: 3em;
    margin-top: 10%;
    height: 1.5em;
    font-family: 'Gruppo', cursive;
    font-size: 1em;
    border-radius: 5%;
    color: #D240B2;
}
button:hover{
    border: 2px solid #D240B2;
}


/* MEDIA QUERY */

@media screen and (max-width: 480px) and (min-width: 320px){

/* HEADER */
#break{
    display: none;
}
.header{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-size: 1em;
    background: black;
}
.fixed {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav{
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}
.btn{
    width: 33%;
    padding: 5%;
    margin-bottom: 5%;
}
a{
    margin-bottom: 0%;
}

/* PORTFOLIO */
#portfolio{
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    margin: 0 auto;
    margin-left: 0;
    margin-top: 5%;
}
#portfolio h1{
    margin-left: 1em;
    font-size: 2em;
    border-left: 2px solid #215200;
    border-top: 1px solid #215200;
    padding: 1em;
    border-radius: 0 15% 0 15%;
    margin-top: 0;
    margin-bottom: 0;
}
.portfolioContain{
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    margin: 0 auto;
    margin-left: 1%;
    margin-top: 2%;
}
.project{
    width: 85%;
    margin: 5%;
    border-top: 3px solid white;
    border-right: 1px solid white;
    padding: 1em;
}
.project h2{
    font-size: 1.75em;
}
#contactForm{
    margin-left: 0;
}
.contactButton{
    width: 100%;
}
.contactButton button{
    margin-left: 1em;
}
}