/* ELEMENTS */
body, html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #EDD6CC;
    position: relative;
    scroll-behavior: smooth;

    height: calc(100vh - 5%);
    width: 100%
}
body {
    text-align: center;
}
#mainContain{
    display: flex;
    flex-direction: row;
    height: 100%;
}
#mobileContain{
    display: none;
}
#left{
    color: #0A4529;
    width: 44%;
    height: 100%;
    background-color: #EDD6CC;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding-left: 5%;
    overflow: scroll;
}
#center{
    width: 5%;
    z-index: 2;
    background-color: #0A4529;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%,10% 90%);
}
#right{
    width: 51%;
    height: 100%;
    background-color: #0A4529;
    color: #EDD6CC;
    overflow: scroll;
}
h1{
    font-family: 'Paytone One', sans-serif;
    font-size: 100px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    line-height: 88px;
}
h2{
    text-align: left;
}
.name{
    margin: 10% 0 5% 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
p {
    font-family: 'Open Sans';
    font-size: 14px;
    padding-top: 3%;
    text-align: justify;
}
.linkContain{
    display: inline-flex;
    margin-top: 7%
}
img{
    height: 50px;
    width: 50px;
}
a{
    margin-right: 10%;
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding-bottom: 3%;
    margin: 0 auto;
}
.nav{
    color: #9CBCAC;
    font-size: 18px;
    font-family: 'Paytone One', sans-serif;
    margin: 8% 10% 7% 5%;
}
.nav:hover{
    color: white;
}
.nav:focus{
    color: white;
    text-decoration: underline #9CBCAC;
}

/* SKILLS */
#skillButton{
    color: white;
}
.sectionTitle{
    font-size: 18px;
    font-family: 'Paytone One', sans-serif;
    color: #FFFFFF;
    padding-bottom: 3%;
}
.research{
    padding-top: 8%;
}
.skill{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: 'Open Sans';
    font-size: 14px;
    text-align: end;
}
.skillTitle{
    padding: 0;
    color: #FFFFFF;
    margin: 5px;
    width: 40%;
    margin-right: 15px;
}
.skillBar{
    width: 41%;
    height: 10px;
    border-radius: 15px;
    background-color: #82716A;
}
.high {
    background-color: #EDD6CC;
}
.mid{
    width: 75%;
    height: 10px;
    border-radius: 15px;
    background-color: #EDD6CC;
}
.low{
    width: 43%;
    height: 10px;
    border-radius: 15px;
    background-color: #EDD6CC;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5%;
    width: 100%;
    background-color: #9CBCAC;
    color: #0A4529;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    color: white;
}
.logo{
    max-height: .75em;
    margin-right: 4%;
}
.header{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.5em;
    background: black;
}
.fixed {
    display: flex;
    position: fixed;
    top: 0;
    width: 10%;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn{
    color: #D240B2;
    margin-bottom: 15%;
}
/* PAGES */
/* PORTFOLIO */
#portfolio{
    display: none;
    flex-direction: column;
    margin: 0 17%;
}
#portRow{
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 436px;
}
.entry{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3%;
}
.wide{
    width: 436px;
}
.orbital{
    display: flex;
    flex-direction: column;
    width: 100%
}
.screen{
    height: auto;
    width: auto;
    display: block;
    max-width: 436px;
    max-height: 300px;
}
.narrow{
    width: 100%;
    max-height: 200px; 
}
.photo{
    display: flex;
    flex-direction: column;
    width: 203px;
}
.photo a{
    margin-right: 0;
}
.githubLink{
    text-decoration: none;
}
.overlay{
    background-color: #9CBCAC;
    color: #0A4529;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-right: 0;
    padding: 1%;
    font-weight: 800;
    height: 53px;
    align-items: center;
}
.portDesc{
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    padding: 0 5%;
}
/* RESUME */
#resume{
    display: none;
    position: relative;
}
#resumePic{
    height: 100%;
    width: 66%;
    z-index: 1;
}
.hoveredResume{
    object-fit: cover;
    opacity: 0.6;  
}
#resumeContain{
    position: relative;
}
#download{
    height: 2.5em;
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #0A4529;
    color: white;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    right: 33%;
    top: 50%;
}
.visibleButton{
    display: inline-block;
}

/* CONTACT */
#contact{
    display: none;
    flex-direction: column;
    color: white;
    padding-left: 12%;
    text-align: left;
}
h2{
    font-size: 32px;
}
#contactDetail{
    font-size: 14px;
    width: 80%
}
#contactForm{
    margin-left: 3em;
}
.form{
    display: flex;
    flex-direction: column;
}
form{
    padding-top: 2em;
}
label{
    font-size: 12px;
    padding-bottom: 5px;
}
input, textarea{
    width: 75%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #9CBCAC;
    margin-bottom: 1.5em;
    font-size: 16px;
}
input{
    height: 2em;
}
textarea{
    vertical-align: top;
    height: 7em;
}
button{
    height: 2.5em;
    width: 120px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #EDD6CC;
    color: #0A4529;
    font-family: 'Open Sans', sans-serif;
}

/* MEDIA QUERY */

@media screen and (max-width: 480px) and (min-width: 320px){

/* HEADER */
#mainContain{
    display: none;
}
#mobileContain{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 5em;
    margin: 0;
}
#left{
    width: 100%;
    padding-left: 0;
}
#mobileContent{
    height: 60vh;
    background-color: #0A4529;
    color: #EDD6CC;
    overflow: scroll;
}
#mobileNav{
    display: flex;
    flex-direction: row;
    background-color: #9CBCAC;
    color: #0A4529;
    padding-left: 0;
    width: 100%;
}
.nav{
    color: #0A4529;
    justify-content: space-evenly;
    margin: 0 auto;
}
#aboutMobile{
    display: block;
    padding: 2% 2% 2% 13%;
}
#aboutButtonMobile{
    color: white;
}
p{
    width: 70%;
}
#skillsMobile{
    display: none;
    height: 100%;
    margin: 2%;
    margin-bottom: 9%;
    padding-top: 5%;
}
#research{
    height: 80%;
}

/* PORTFOLIO */
#portfolioMobile{
    display: none;
    padding-top: 5%;
}
.entry{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 3%;
    margin: 0 auto;
}
/* RESUME */
#resumeMobile{
    flex-direction: column;
    display: none;
}
#resumePic{
    margin: 3% auto;
    z-index: 0;
}
#download{
    width: 66%;
    position: unset;
}
form{
    padding-top: 0;
}
/* CONTACT */
#contactMobile{
    display: none;
    flex-direction: column;
    margin-left: 5%;
    width: 100%;
}
#contactDetail{
    text-align: left;
}
.form{
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 15px;
    width: 90%;
}
label{
    text-align: left;
}
input{
    margin-bottom: 10px;
}
.contactButton{
    margin-bottom: 2em;
}
.name{
    margin: 0;
}
#title{
    padding-left: 5%;
}
.linkContain{
    margin: 2% 0;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
}
.icon{
    height: 25px;
    width: 25px;
}
a{
    margin: 0;
}
.h2{
    font-size: 1.3em;
    margin: 0;
    width: 85%;
    text-align: left;
}
.imgContain{
    display: flex;
    flex-direction: column;
    width: 15%
}
#about{
    display: none;
}

#right{
    width: 100%;
}
.btn{
    width: 33%;
    padding: 5%;
    margin-bottom: 5%;
}
footer{
    height: 2%;
    font-size: .5em;
    position: fixed;
    bottom: 0;
}

/* PORTFOLIO */
#portfolioMobile{
    display: flex;
    flex-direction: column;
}
.portDesc{
    width: auto;
}
}